{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reservar.css' %}">
{% endblock %}

{% block titulo %}Haz tu reserva{% endblock %}


{% block contenido %}

{% if destino %}
<h2>Reserva tu viaje a {{ destino }}</h2>
{% else %}
<p>Selecciona un destino para reservar tu viaje.</p>
Lugar: <select>
    {% if destinos %}
        {% for d in destinos %}
        <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
    {% else %}
        <option value="">No hay destinos disponibles</option>
    {% endif %}
</select>
{%  endif %}

<br>

Nombre: <input type="text" placeholder="Paco"><br><br>
Email: <input type="email" placeholder="paco.garcia@gmail.com"><br><br>

{% endblock %}