{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reserva_exitosa.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/reserva_exitosa.js' %}" defer></script>
{% endblock %}

{% block titulo %}TravelDream - Reserva Confirmada{% endblock %}

{% block contenido %}

<div class="container">
        <div class="success-card">
            <div class="success-icon">✅</div>
            <h2>¡Reserva Confirmada!</h2>
            <p>Tu reserva ha sido creada exitosamente.</p>
            <p><strong>Còdigo de reserva:</strong> #{{id}}</p>
            <p><strong>Destino:</strong> {{ reserva.viajeID.destino.nombre }}</p>
            <p><strong>Fecha:</strong> {{ reserva.viajeID.fecha_salida|date:"d/m/Y" }}</p>
            <a href="{% url 'index' %}" class="btn">Volver a Inicio</a>
        </div>
    </div>
{% endblock %}