{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/destinos.css' %}">
{% endblock %}

{% block titulo %}Detalles Viaje{% endblock %}

{% block contenido %}
<h1>Detalles Viaje </h1>

<section class="viaje-details">
    <h2>{{ viaje.nombre }}</h2>
    <p><strong>Destino:</strong> {{ viaje.destino }}</p>
    <p><strong>Duración:</strong> {{ viaje.fecha_salida }} - {{ viaje.fecha_regreso }} días</p>
    <p><strong>Precio:</strong> ${{ viaje.precio }}</p>
</section>
{% endblock %}
    
    

</body>
</html>