{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/viajes.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/precio_max.js' %}"></script>
{% endblock %}

{% block contenido %}


<div class="viajes-range">
    <form action="" id="range-form" name="range-form">
        Precio máximo: <input type="number" id="precio_maximo" name="precio_maximo" required min=0 max=9999>
        <input type=submit value="Buscar viajes">
    </form>
</div>

<h1 id="no_viajes" style="text-align: center; margin-top: 100px">No se ha encontrado ningún viaje para el destino y rango de precios seleccionados.</h1>

    {% if viajes %}
        <div class="viajes-grid">
            {% for viaje in viajes %}
                <div class="viaje-card" data-precio="{{viaje.precio}}">
                    <div class="viaje-image">
                        <img src="{% static 'images/' %}{{ viaje.destino.nombre|lower }}.jpg" alt="{{ viaje.destino.nombre }}">
                    </div>
                    
                    <div class="viaje-info">
                        <div class="viaje-destino">{{ viaje.destino.nombre }}</div>
                        <div class="viaje-fechas">
                            {{ viaje.fecha_salida|date:"d/m/Y" }} - {{ viaje.fecha_regreso|date:"d/m/Y" }}
                        </div>
                        <div class="viaje-precio">€{{ viaje.precio }}</div>
                        <div class="viaje-plazas">
                            {{ viaje.calcular_plazas_disponibles }} / {{ viaje.plazas_totales }} plazas
                        </div>
                        <a href="{% url 'ver_reserva' viaje.viajeID%}" 
                        class="viaje-button {% if viaje.calcular_plazas_disponibles == 0 %}agotado{% endif %}">
                            {% if viaje.calcular_plazas_disponibles > 0 %}
                                Reservar
                            {% else %}
                                Agotado
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
   
{%  endblock  %}