.destinos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.card img {
    max-width: 100px;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    transition: transform 0.5s ease;
}

/* Efecto hover con zoom */
.card:hover img {
    transform: scale(1.1);
    cursor: pointer;
}

/* Texto centrado en medio */
.card .texto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 15px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    /* fondo semitransparente */
    border-radius: 8px;
    max-width: 80%;
}

.card .precio {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #ff6347;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.card .duracion {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #f4f1f1f5;
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.card h3 {
    margin: 0;
    font-size: 1.4rem;
}

.card p {
    margin-top: 8px;
    font-size: 1rem;
}