.hero {
    position: relative;
    /*background: url('img/portada.jpg') no-repeat center center/cover;*/
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.sobre-nosotros {
    padding: 60px 20px;
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.sobre-nosotros h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.sobre-nosotros p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}